node_modules
*/.env
.env
.env.local
.env.development
.env.test
.env.production
.env.*
**/.env
**/.env.local
**/.env.development
**/.env.test
**/.env.production
**/.env.*

.cursor/
.crush/
.claude/

# Database files
data/
*.json
!package.json
!tsconfig.json
!pnpm-workspace.yaml
